<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST" >
    <label for="email">Email</label>
    <br>
    <input type="email" >
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" >
    <br>

    <button type="submit">Sign Up!</button>
  </form>
</body>
</html>